@import "mixins";
@import "vars";
@import "vendor/reset";

html {
  font-size: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  background: $background;

  &._lock {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.h1 {
  font-family: "Passion One";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
}

.list {
  padding-left: 15px;

  & .list__item {
    position: relative;
    padding-left: 25px;

    &::before {
      position: absolute;
      content: "—";
      top: 50%;
      transform: translateY(-50%);
      left: -5px;
    }
  }
}

/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/title";
@import "blocks/footer";
@import "blocks/payment";
@import "blocks/refund";
@import "blocks/production";
@import "blocks/userAgreement";
